* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/bg-photo.jpg");

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  height: 100vh;
}

body {
  background-color: #fffaee;
  font-family: "Inter", sans-serif;
  color: #402924;
}

#input-back-btn {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  border-radius: 8px;
  align-self: flex-start;
  margin-bottom: 40px;
  margin-top: 20px;
}

#story-input {
  width: 80%;
  height: 30vh;
  border-color: #402924;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  padding: 1%;
}

#send-btn {
  width: 20vh;
  height: 5vh;
  font-family: "Inter", sans-serif;
  color: #402924;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 8px;
  align-self: flex-end;
  margin-top: 30px;
  cursor: pointer;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.keyboard {
  width: fit-content;
  margin: 40px auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.key {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: 2px solid #402924;
  background-color: white;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.special-key {
  width: 120px;
}

.space-key {
  width: 300px;
}

.key:hover {
  transform: scale(0.95);
}
