* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/bg-photo.jpg");

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  height: 100vh;
  background-color: #fffaee;
  font-family: "Inter", sans-serif;
  color: #402924;

  min-height: 100vh;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 3rem;
  font-weight: 700;
  color: #402924;

  margin-bottom: 40px;

  text-align: center;
}
