* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #402924;
  --bg-color: #fffaee;
  --btn-color: #f4e5c1;

  --font: "Inter", sans-serif;
  --font-size: 2rem;
  --font-weight: 400;
}

body {
  background-image: url("../img/bg-photo.jpg");

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  height: 100vh;
  background-color: #fffaee;
  color: #484848;

  min-height: 100vh;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  line-height: 80px;
  margin-bottom: 40px;

  text-align: center;
}
