* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: "Inter", sans-serif;
}

#wall {
  position: relative;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
  background: #402924;
}

.story-text {
  position: absolute;
  border-radius: 240px;
  padding: 10px;
  font-family: var(--font);
  text-align: center;

  color: #fffaee;
  font-size: 1rem;
  max-width: 300px;

  opacity: 0.8;

  animation: float 100s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(-120vh);
  }
}
